<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ETF Calculator</title>

    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">

    <script src="js/calculationsLogic.js" defer></script>
    <script src="lib/bootstrap/dist/js/bootstrap.js" defer></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <!--<img src="Images\investement2.png" alt="logo" id="icon" width="60" height="20" class="img-fluid">-->
        <div class="container-fluid">
            <a class="navbar-brand" href="#">invested.</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <!--<span class="navbar-toggler-icon"></span>   -->
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link " href="Sites/Home/home.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="#">Pricing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="Sites/About/about.html">About</a>
                    </li>
                    <li>
                        <div class="dropdown">
                            <a class="btn btn-dark dropdown-toggle" href="#" id="dropdownMenuButton" data-bs-toggle="dropdown" role="button">Features</a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="Main.html">ETF Calculator</a>
                                <a class="dropdown-item" href="#">Item 2</a>
                                <a class="dropdown-item" href="#">Item 3</a>
                            </div>
                        </div>
                    </li>
                </ul>
                <div>
                    <button class="btn btn-outline-primary" type="button" id="loginbttn">Login</button>
                </div>
            </div>
        </div>
        <div>

            <div class="btn-group dropleft">
                <img src="~/images/user.png" alt="logo" id="user" width="50" height="50" class="img-fluid dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="user">
                    <li><a class="dropdown-item" href="#">Profile</a></li>
                    <li><a class="dropdown-item" href="#">Settings</a></li>
                    <li><a class="dropdown-item" href="#">Logout</a></li>
                </ul>
            </div>
        </div>

    </nav> <!-- Nav ends here-->
    @RenderBody()

</body>
</html>
<script src="https://cdn.jsdelivr.net/npm/popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
