@{
   Layout = "_Layout";
}
    <div class="container mt-5">
        <div class="row mb-4">
            <div class="col-md-4 offset-md-4">
                <h1 class="label-control text-center">ETF Calculator</h1>
            </div>

        </div>
        <div class="row mb-4">
            <div class="col-md-4 offset-md-4">
                <label class="label-control">Investement Amount</label>
                <input id="loanamount" class="form-control" placeholder="e.g 15000 ($)" min="500" type="number" value="2000" step="500"></input>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-md-4 offset-md-4">
                <label class="label-control">Term in Years</label>
                <input id="terminyears" class="form-control" placeholder="e.g 5 (Years)" min="1" type="number" value="5" step="1"></input>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-md-4 offset-md-4">
                <label class="label-control">Interest Rate</label>
                <input id="interestrate" class="form-control" placeholder="e.g 3.5 (%)" min="1" type="number" value="3.5" step="2"></input>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 offset-md-4 text-center">
                <button id="calculationbttn" class="btn btn-dark w-100 hover-effect">
                    Calculate
                </button>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Month</th>
                            <th>Total Amount</th>
                            <th>Total Profit</th>
                            <th>Interest</th>
                        </tr>
                    </thead>
                    <tbody class="table table-bordered " id="tableBody">
                </table>
            </div>
        </div>
    </div>